@model Baitapthuchanh.Models.Product
<h2>Edit Product</h2>
<form asp-action="Update" enctype="multipart/form-data">
    <input type="hidden" asp-for="Id" />
    <div class="form-group">
        <label asp-for="Name" class="control-label"></label>
        <input asp-for="Name" class="form-control" />
        <span asp-validation-for="Name" class="text-danger"></span>
    </div>
    <div class="form-group">
        <label asp-for="Price" class="control-label"></label>
        <input asp-for="Price" class="form-control" />
        <span asp-validation-for="Price" class="text-danger"></span>
    </div>
    <div class="form-group">
        <label asp-for="Description" class="control-label"></label>
        <textarea asp-for="Description" class="form-control"></textarea>
        <span asp-validation-for="Description" class="text-danger"></span>
    </div>
    <div class="form-group">
        <label asp-for="CategoryId">Category</label>
        <select asp-for="CategoryId" asp-items="@ViewBag.Categories"
                class="form-contro"></select>
    </div>
    <div class="form-group">
        <label asp-for="ImageUrl" class="control-label">Image</label>
        <input type="file" asp-for="ImageUrl" class="form-control" id="imageInput" onchange="previewImage(this)" />
        <img id="preview" src="@Model.ImageUrl" class="img-thumbnail" style="max-width: 200px; margin-top: 10px;" />
    </div>
    <button type="submit" class="btn btn-primary">Update</button>
</form>

<script>
    function previewImage(input) {
        if (input.files && input.files[0]) {
            var reader = new FileReader();

            reader.onload = function (e) {
                $('#preview').attr('src', e.target.result);
            }

            reader.readAsDataURL(input.files[0]);
        }
    }
</script>
